.body {
    display: flex;
    justify-content: center;
}

.loose-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.victory {
    font-size: 2.4rem;
    font-family: 'Pirata One', cursive;
    margin-top: 20%;
}

.teams {
    display: flex;
    justify-content: center;
}

.players-max {
    text-transform: italic;
    color: var(--color1);
}

.team1, .team2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title {
    font-size: 5rem;
    color: var(--color1);
    font-family: 'Pirata One', cursive;
    text-align: center;
    background-color: rgb(61, 61, 61);
}

.titleTeam {
    margin-top: 5%;
    font-size: 3rem;
    color: var(--color1);
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.playersTeam1, .playersTeam2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

.team1 {
    border-right: solid 3px var(--color1);
}

.sub {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: white;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 1.2rem;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color1);
    padding-top: 10px;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.custom-select {
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 1.1rem;
}

.custom-form {
    display: flex;
    flex-direction: column;
}

.loose-message {
    color: white;
}

.no-more-sub {
    color: var(--color1);
}