.body {
    display: flex;
    justify-content: center;
}

.team1, .team2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title {
    font-size: 5rem;
    color: var(--color1);
    font-family: 'Pirata One', cursive;
    text-align: center;
    background-color: rgb(61, 61, 61);
}

.titleTeam {
    margin-top: 5%;
    font-size: 3rem;
    color: var(--color1);
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.playersTeam1, .playersTeam2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    /* background-image: url("../assets/images/league_screen.jpeg"); */
}

.team1 {
    border-right: solid 3px var(--color1);
}