.body {
    display: flex;
    justify-content: center;
}

.team1, .team2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title {
    font-size: 5rem;
    color: var(--color1);
    font-family: 'Pirata One', cursive;
    text-align: center;
    background-color: rgb(61, 61, 61);
}

.titleTeam {
    margin-top: 5%;
    font-size: 3rem;
    color: var(--color1);
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.playersTeam1, .playersTeam2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    /* background-image: url("../assets/images/league_screen.jpeg"); */
}

.team1 {
    border-right: solid 3px var(--color1);
}

.sub {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    border: white;
    border-radius: 3px;
    margin-top: 5px;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color1);
    padding-top: 10px;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
}

.custom-select {
    color: white;
    width: 161px;
    height: 39px;
    border-radius: 3px;
    padding-left: 15px;
}

.custom-form {
    display: flex;
    flex-direction: column;
}