.detail {
    text-align: center;
}

h1 {
    font-family: 'Pirata One', cursive, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3rem;;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: none;
}

.card {
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: none;
}

.card-img {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.card-body {
    padding: 10px 20px;
}

.card-body h2 {
    margin: 10px 0px;
}

.card-title{
    font-family: 'Pirata One', cursive, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.card-button {
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: var(--color1);
    width: 100%;
    color: rgb(37, 4, 1);
    margin-top: 10px;
    cursor: pointer;
}

.card-button:hover {
    background-color: rgb(131, 22, 86);
    color: white;
}

.healAll {
    width: 50%;
    background-color: coral;
    margin-bottom: 50px;
    color: white;
    height: 60px;
    font-size: 1.5rem;
}

.health-bar {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    border: solid 1px grey;
}

.current-health-bar {
    transition: width 0.5s linear;
    height: 20px;
    background-color: blueviolet;
    border-radius: 20px;
}

.title, .tags {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tags {
    margin-top : 20px;
}

.titleDetail, .tagDetail {
    color: var(--color1);
    font-family: 'Pirata One', cursive, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
